[submodule "c-ray"]
	path = c-ray
	url = https://github.com/Erdk/c-ray
[submodule "FlameGraph"]
	path = FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "blkin"]
	path = blkin
	url = https://github.com/ceph/blkin
